{% extends "szablon.html" %}
{% block tytul %}Dodawanie klasy{% endblock %}
{% block lista3 %} active{% endblock %}
{% block h1 %}Dodaj klasę:{% endblock %}
{% block tresc %}
<div class="container">
  <form method="POST">
  {{ form.csrf_token }}
  {{ form.nazwa.label }}
  {{ form.nazwa(class="form-control") }}
  <br>
  {{ form.roknaboru.label }}
  {{ form.roknaboru(class="form-control") }}
  <br>
  {{ form.rokmatury.label }}
  {{ form.rokmatury(class="form-control") }}
  <br>
  <input type="submit" class="btn btn-info" value="Prześlij" style="float: right;">
</div>
{% endblock %}
