{% extends "szablon.html" %}
{% block tytul %}Edycja klas{% endblock %}
{% block lista6 %} active{% endblock %}
{% block h1 %}Wybierz klasę którą chcesz edytować:{% endblock %}
{% block tresc %}
<table class="table table-striped table-dark">
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">Nazwa</th>
    <th scope="col">Rok naboru</th>
    <th scope="col">Rok matury</th>
    <th scope="col"></th>
  </tr>
</thead>
  <tbody>
    {% for k in klasy %}
    <tr>
      <th scope="row">{{ k }}</th>
      <td>{{ k.nazwa }}</td>
      <td>{{ k.roknaboru }}</td>
      <td>{{ k.rokmatury }}</td>
      <td style="width: 7%; padding: 0.7%"><a href="edycjaklasy/{{ k }}"><button type="button" class="btn btn-outline-info btn-sm">Edytuj</button></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
